Source: com.github.aharotias2.tatap
Section: x11
Priority: optional
Maintainer: Takayuki Tanaka <aharotias2@gmail.com>
Build-Depends: meson (>= 0.5),
               ninja (>= 1.0),
               libgtk-3-dev,
               granite,
               gettext,
               valac (>= 0.40.0),
               gee (>= 0.8)
Standards-Version: 3.9.3

Package: com.github.yourusername.yourrepositoryname
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Hey young world
 This is a Hello World written in Vala using CMake build system.
