Source: com.github.aharotias2.tatap
Section: x11
Priority: optional
Maintainer: Takayuki Tanaka <aharotias2@gmail.com>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libgee-0.8-dev
               libgranite-dev,
               libgtk3-dev,
               ninja (>= 1.0),
               meson (>= 0.5),
               valac (>= 0.40.0),
Standards-Version: 4.1.1

Package: com.github.aharotias2.tatap
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: An image viewer that supports jpg, png, bmp, gif, and ico files.
