.image-view {
    background-color: #24140e;
}

.toolbar {
    background-color: @theme_bg_color;
}

.message_bar {
    background-color: @theme_bg_color;
}

.message_bar_label {
    color: @theme_fg_color;
}
